* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*INDEX HOME*/
body {
  font-family: montserrat, sans-serif;
  background-color: whitesmoke;
}
body#home ul li:nth-child(1) a,
body#nosotros ul li:nth-child(2) a,
body#nutricion ul li:nth-child(3) a,
body#planes ul li:nth-child(4) a,
body#contactos ul li:nth-child(5) a {
  color: #ff0066;
  font-weight: 600;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
/*MAIN*/
main {
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}
.main {
  grid-column: 1/6;
}
/*HEADER*/
.header {
  grid-column: 1/6;
  text-align: center;
  background-color: #ff0066;
}
h1 {
  font-size:10vw; 
  grid-row: 2/3;
  font-weight: 900;
  font-style: italic;
  line-height: 1em;
  grid-column: 1/6;
  text-align: center;
  margin: 40px;
  letter-spacing: -5px;}
.headerSecciones {
  padding-bottom: 20px;
  background-color: #ff0066;
  display: grid;
  grid-column: 1/6;
  text-align: center;
}
.logo {
  grid-row: 1/2;
  margin-top: 30px;
  width: 300px;
  height: 300px;
}
/*MENU*/
nav {
  z-index: 3;
  position: absolute;
  position: sticky;
  top: 0;
  background-color: black;
  height: 60px;
  width: 100%;
}
nav a:hover {
  color: #ff0066;
}
li {
  padding: 20px;
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
/*FOOTER*/
.footer {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: black;
  color: white;
  height: 120px;
  text-align: center;
}
.horarios {
  padding: 20px;
  margin: 0px auto 0px auto;
  font-size: 1em;
  grid-column: 1/6;
}
h3 {
  font-weight: lighter;
}
.redes {
  margin: 5px auto;
  display: flex;
  grid-column: 1/6;
}
.items {
  border-radius: 50%;
  transition: 0.4s;
  padding-top: 5px;
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
}
#wsp {
  padding-top: 0px;
}
.items:hover {
  background-color: #ff0066;
  border-radius: 50%;
}
/*INDEX/SECCION PLANES*/
.boxTituloPlanes {
  grid-column: 2/5;
  grid-row: 1/2;
}
.tituloPlanesHome {
  margin: 30px;
  font-size: 5em;
  font-weight: 900;
  text-shadow: 0px 0px 5px #333233;
}
.tituloCardsPlanes {
  font-style: italic;
  padding: 10px 10px 10px 10px;
}
.descripcion {
  height: 80px;
  font-size: 1em;
  text-align: left;
  padding: 20px;
}
/*TIPOLIGIA H2 TITULOS*/
.tituloSeccion {
  margin: 80px 30px 0px 30px;
  font-size: 5em;
  font-weight: 900;
  text-shadow: 0px 0px 5px #333233;
}
/*INDEX/TIPOLOGIA CONTENEDORES HOME*/
.boxSecciones {
  padding: 30px 30px 60px 30px;
  text-align: center;
  margin: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}
/*INDEX/PLANES*/
.planes {
  color: #1f1f1f;
  transition: transform 0.2s;
  padding: 80px 0px 60px 0px;
  text-align: center;
  margin: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}
.plan {
  transition: transform 0.2s;
  border-top: 5px solid #333233;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
}
.plan:hover {
  transform: scale(1.3);
  color: white;
  background: linear-gradient(145deg, #999999, #464545);
}
#plan1 {
  grid-column: 2/3;
  grid-row: 2/4;
}
#plan2 {
  grid-column: 3/4;
  grid-row: 2/4;
}
#plan3 {
  grid-column: 4/5;
  grid-row: 2/4;
}
/*TIPOLOGIA BOTON*/
.boton {
  transition: 0.3s;
  border: none;
  margin: 20px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(145deg, #af0348, #ff0066);
  color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
}
#botonhover:hover {
  transform: scale(1.1);
}
#botonContacto:hover {
  transform: scale(1.1);
}
/*BOTON SECCION CONTACTO*/
#botonContacto {
  transition: 0.3s;
  border: none;
  margin: 20px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background: white;
  color: rgb(43, 43, 43);
  font-weight: 600;
  text-transform: uppercase;
}
/*INDEX/SECCCION NUTRICION*/
.boxnutri {
  width: auto;
  height: auto;
}
.boxnutri img {
  grid-column: 1/2;
  width: 90%;
  height: auto;
}
/*CONTENEDOR IMAGENES*/
.box {
  width: auto;
  height: auto;
}
.box img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.boxnosotros {
  width: auto;
  height: auto;
}
.boxnosotros img {
  grid-column: 2/3;
  width: 90%;
  height: auto;
}
.boxTituloSeccion {
  align-content: center;
  grid-column: 1/3;
}
.textnutricion {
  grid-column: 2/3;
  margin: 300px 50px 20px 50px;
  grid-row: 1/7;
  text-align: center;
  text-align: justify;
}
.textonosotros {
  grid-column: 1/2;
  margin: 300px 50px 20px 50px;
  grid-row: 1/7;
  text-align: center;
  text-align: justify;
}
/*SECCION DE CONTACTO*/
.tituloHola {
  margin: 80px 0px 0px auto;
  font-size: 5em;
  font-weight: 900;
  display: flex;
  text-shadow: 0px 0px 5px #333233;
}
form {
  text-align: left;
  color: #ffffff;
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  background: #ff0066;
  border-radius: 20px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #ff0095;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0;
  padding: 10px;
  width: 90%;
  background-color: #ffffff;
  color: #1f1f1f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
}
input[type="text"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}
input[type="email"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}
input[type="tel"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}
textarea:focus {
  outline: none;
  border: 3px solid #00d9ff;
}
.comentario {
  margin-top: 10px;
}
input[type="radio"] {
  margin: 10px;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}
label {
  display: block;
}
.boxtexto {
  text-align: left;
  grid-column: 1/2;
  margin: 20px 0px 20px auto;
}
.formulario {
  text-align: center;
  grid-column: 2/3;
  margin: 20px auto 20px 0px;
}
.escribi p {
  max-width: 320px;
  text-align: left;
  letter-spacing: -0.5px;
  font-size: 1em;
}
.contenedor1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  display: grid;
  height: 550px;
  margin: 50px auto 0px auto;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}
#frase1 {
  grid-column: 2/3;
  grid-row: 2/3;
}
#frase2 {
  grid-column: 2/3;
  grid-row: 3/4;
}
#arrow {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
}
.contenedor2 {
  margin-top: 30px;
  text-align: left;
  transform: skewY(-8deg);
  height: 200px;
  width: 400px;
  background-color: #ff0066;
}
.tituloPlanes {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}
.tituloPlanes2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}
#tituloMedidas {
  margin-left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: white;
}
#arrow1 {
  margin-top: 60px;
}
.boxfrasePlan {
  grid-row: 1/2;
  grid-column: 1/4;
  height: auto;
  color: white;
  width: 100%;
}
.frasePlanes {
  margin: 0 auto;
  width: 70%;
  font-size: 20pt;
  font-weight: lighter;
  margin-top: 240px;
  margin-bottom: 50px;
}
.seccion1 {
  padding: 20px;
  gap: 10px;
  height: 1400px;
  background-color: #1f1f1f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.boxPlanes {
  color: #ffffff;
  transition: transform 0.2s;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: 5px solid #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-bottom: solid 1px white;
}
.boxPlanes:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  color: #1f1f1f;
}
#basic {
  justify-self: right;
  max-width: 400px;
  height: 790px;
  grid-column: 1/2;
  grid-row: 2/3;
}
#medium {
  justify-self: center;
  max-width: 400px;
  height: 790px;
  grid-column: 2/3;
  grid-row: 2/3;
}
#premium {
  justify-self: left;
  max-width: 400px;
  height: 790px;
  grid-column: 3/4;
  grid-row: 2/3;
}
.precio {
  font-weight: 800;
  font-size: 2em;
  color: aqua;
}
.descripcionPlanes {
  margin: 20px 35px 35px 35px;
}
.descripcion1 {
  font-size: 1em;
  text-align: left;
}
.listaPlanes {
  text-align: left;
  margin-top: 20px;
  display: flex;
}
.itemsListaPlanes {
  padding: 0px;
  width: 100%;
  line-height: 1.5em;
}
#listaPremium {
  font-size: 0.9em;
}
.boxboton {
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
}
.boxbotones {
  display: flex;
}
.conteinerNosotros {
  padding: 50px 60px 60px 60px;
  margin: 30px 30px 0px 30px;
  column-gap: 20px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "  logo       logo       logo "
    "  logo       logo       logo "
    "  .       articulo2  .       "
    "articulo1 articulo2 articulo3"
    "articulo1 articulo2 articulo3"
    "articulo1 articulo4 articulo3"
    ".         articulo4     .    "
    ".         articulo4     .    ";
}
.circulo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  height: 400px;
  width: 400px;
  background-color: #000000;
  border-radius: 50%;
}
#boxImg {
  animation: float 2.5s ease-in-out infinite;
  height: auto;
  width: 90%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.itemImg {
  border-radius: 20px;
  overflow: hidden;
}
.itemImg img:hover {
  transition:0.5s ease-in-out;
  transform: scale(1.3);
}
.item {
  border-radius: 20px;
  padding: 30px;
  background-color: #ffffff;
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.item img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.itemTitulo {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 800;
  font-style: italic;
}
.itemSubTitulo {
  margin-bottom: 20px;
  font-size: 0.9em;
}
.itemParrafo {
  font-size: 0.9em;
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
}
#articulo1 {
  grid-area: articulo1;
}
#articulo2 {
  grid-area: articulo2;
}
#articulo3 {
  grid-area: articulo3;
}
#articulo4 {
  grid-area: articulo4;
}
.boxbounce {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.boxbounce {
  animation-name: boxbounce1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes boxbounce1 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.logo1 img {
  animation: zoominout 1s;
}
@keyframes zoominout {
  0% {
    transform: scale(0.5, 0.5);
  }
  30% {
    transform: scale(1.4, 1.4);
  }
  30% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
