nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  z-index: 3;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  height: 60px;
  width: 100%;
}

nav a:hover {
  color: #ff0066;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul li {
  padding: 20px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

body#home ul li:nth-child(1) a,
body#nosotros ul li:nth-child(2) a,
body#nutricion ul li:nth-child(3) a,
body#planes ul li:nth-child(4) a,
body#contactos ul li:nth-child(5) a {
  color: #ff0066;
  font-weight: 600;
}

.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: black;
  color: #ffffff;
  height: 120px;
  text-align: center;
}

.conteinerFooter {
  margin-top: 30px;
}

.horarios {
  margin: 10px auto;
  font-size: 1vw;
  font-weight: 400;
}

.redes {
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items {
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items:hover {
  background-color: #ff0066;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  background-color: whitesmoke;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.logo {
  margin-top: 30px;
  width: 300px;
  height: 300px;
}

main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
  background-color: #ff0066;
}

h1 {
  color: #000000;
  font-size: 10vw;
  font-weight: 900;
  font-style: italic;
  line-height: 18vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
  margin: 40px;
  letter-spacing: -5px;
}

.headerSecciones {
  padding-bottom: 20px;
  background-color: #ff0066;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
}

.box {
  width: auto;
  height: auto;
}

.box img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

/*SECCION PLANES INDEX*/
.containerPlanes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  color: #1f1f1f;
  padding: 80px 0px 60px 0px;
  margin: 30px;
  gap: 30px;
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}

.containerPlanes .boxTituloPlanes {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.tituloSeccion {
  margin: 50px;
  font-size: 6vw;
  font-weight: 900;
}

.plan {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-top: 5px solid #333233;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
}

.plan:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #ffffff;
  background: linear-gradient(145deg, #999999, #464545);
}

#plan1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

#plan2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

#plan3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.tituloCardsPlanes {
  font-weight: 800;
  font-style: italic;
  padding: 10px;
}

.descripcion {
  height: 80px;
  font-size: 1vw;
  text-align: left;
  padding: 20px;
}

.boton {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin: 20px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(145deg, #af0348, #ff0066);
  color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
}

#botonhover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*SECCION NOSOTROS Y NUTRICION INDEX*/
.containerSecciones {
  max-height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 30px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}

.boxTituloSeccion {
  max-height: 200px;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.servicios {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.textServicios {
  text-align: justify;
}

#boxImgNutricion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#nutricion {
  font-size: 2vh;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#boxImgNosotros {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#nosotros {
  font-size: 2vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

/*SECCIONN NOSOTROS*/
.logo1 img {
  -webkit-animation: zoominout 1s;
          animation: zoominout 1s;
}

@-webkit-keyframes zoominout {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  30% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
  }
  30% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoominout {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  30% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
  }
  30% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.conteinerNosotros {
  padding: 50px 60px 60px 60px;
  margin: 30px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
      grid-template-areas: "  logo       logo       logo " "  logo       logo       logo " "  .       articulo2  .       " "articulo1 articulo2 articulo3" "articulo1 articulo2 articulo3" "articulo1 articulo4 articulo3" ".         articulo4     .    " ".         articulo4     .    ";
}

.circulo {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logo;
  height: 400px;
  width: 400px;
  background-color: #000000;
  border-radius: 50%;
}

#boxImg {
  -webkit-animation: float 2.5s ease-in-out infinite;
          animation: float 2.5s ease-in-out infinite;
  height: auto;
  width: 90%;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.item {
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.itemImg {
  border-radius: 20px;
  overflow: hidden;
}

.itemImg img:hover {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.itemTitulo {
  margin: 10px 0;
  font-size: 1.5vw;
  font-weight: 800;
  font-style: italic;
}

.itemSubTitulo {
  margin-bottom: 20px;
  font-size: 1vw;
  font-weight: 700;
}

.itemParrafo {
  font-size: 1vw;
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
}

#articulo1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: articulo1;
}

#articulo2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: articulo2;
}

#articulo3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: articulo3;
}

#articulo4 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: articulo4;
}

/*SECCION NUTRICION*/
.containerItemsNutricion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemNutricion {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin: 20px;
  padding: 20px;
}

.itemNutricion:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tituloItemNutricion {
  font-size: 1.5vw;
  font-weight: 800;
}

.pregunta {
  text-align: left;
  font-weight: 900;
  font-size: 5vw;
}

/*SECCION PLANES*/
.contenedor1 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  display: -ms-grid;
  display: grid;
  margin: 0px 20px;
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}

#frase1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#frase2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#arrow {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  text-align: center;
}

.contenedor2 {
  margin-top: 30px;
  text-align: left;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  height: 200px;
  width: 400px;
  background-color: #ff0066;
}

.tituloPlanes {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
}

.tituloPlanes2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
}

#tituloMedidas {
  margin-left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #ffffff;
}

#arrow1 {
  margin-top: 60px;
}

.seccion1 {
  max-height: 1200px;
  background-color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  color: #1f1f1f;
  padding: 80px 0px 60px 0px;
  gap: 30px;
  -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
}

.frasePlanes {
  margin: 20px 50px 20px 50px;
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 2vw;
  font-weight: 500;
}

.boxPlanes {
  margin: 0px auto;
  height: 820px;
  max-width: 400px;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ff0066;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.3);
}

.boxPlanes:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ffffff;
  color: #1f1f1f;
}

#basic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#medium {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#premium {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.precio {
  position: absolute;
  bottom: 70px;
  font-weight: 800;
  font-size: 3vw;
}

.descripcionPlanes {
  margin: 20px;
  max-width: 350px;
}

.descripcion1 {
  font-size: 1vw;
  text-align: left;
}

.listaPlanes {
  font-size: 1vw;
  text-align: left;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}

.itemsListaPlanes {
  padding: 0px;
}

.boxboton {
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
}

.boxbotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxbounce {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.boxbounce {
  -webkit-animation-name: boxbounce1;
          animation-name: boxbounce1;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@-webkit-keyframes boxbounce1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes boxbounce1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-50px);
            transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

/*SECCION DE CONTACTO*/
.tituloHola {
  margin: 80px 0px 0px auto;
  font-size: 5em;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  text-align: left;
  color: #ffffff;
  max-width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
  padding: 20px;
  background: #ff0066;
  border-radius: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border-radius: 20px;
  border: 1px solid #ff0066;
  height: auto;
  outline: 0;
  padding: 10px;
  width: 90%;
  background-color: #ffffff;
  color: #1f1f1f;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
}

input[type="text"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}

input[type="email"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}

input[type="tel"]:focus {
  outline: none;
  border: 3px solid #00d9ff;
}

textarea:focus {
  outline: none;
  border: 3px solid #00d9ff;
}

.seleccion {
  text-align: left;
}

input[type="radio"] {
  margin: 10px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

label {
  font-weight: 700;
  margin: 10px;
  display: block;
}

#comentario {
  margin-top: 0px;
}

#botonContacto {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin: 10px 20px 10px 20px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background: white;
  color: #333233;
  font-weight: 700;
  text-transform: uppercase;
}

#botonContacto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.boxtexto {
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 20px 0px 20px auto;
}

.formulario {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 20px auto 20px 0px;
}

.escribi p {
  max-width: 320px;
  text-align: left;
  letter-spacing: -0.5px;
  font-size: 1em;
}

@media only screen and (max-width: 1200px) {
  .containerSecciones {
    max-height: 750px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    margin: 30px;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 376px) {
  h1 {
    color: #000000;
    font-size: 22vw;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin: 10px;
    line-height: 25vw;
  }
  .tituloSeccion {
    margin: 50px;
    font-size: 20vw;
    font-weight: 900;
  }
  .descripcion {
    height: 80px;
    font-size: 3vw;
    text-align: left;
    padding: 20px;
  }
  .horarios {
    margin: 10px auto;
    font-size: 3vw;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */